<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
<script type="text/javascript">
</script>
</head>
<div layout:fragment="content">
	<div>
		<table class="convertTable">
			<tr>
				<th>관리코드</th>
				<th>코드</th>
				<th>거래처</th>
				<th>부서</th>
				<th>부서그룹</th>
				<th>고객속성</th>
				<th>고객분류</th>
				<th>거래분류</th>
				<th>코스</th>
				<th>영업담당</th>
			</tr>
			<tr th:if="${#lists.size(list)} > 0" th:each="lists : ${list}">
				<td th:text="${lists.convertComAdminCode}"></td>
				<td th:text="${lists.convertComCode}"></td>
				<td th:text="${lists.convertComName1}"></td>
				<td th:text="${lists.convertComDepartment}"></td>
				<td th:text="${lists.convertComDepaGroup}"></td>
				<td th:text="${lists.convertComAttri}"></td>
				<td th:text="${lists.convertComDealType}"></td>
				<td th:text="${lists.convertComDivi}"></td>
				<td th:text="${lists.convertComCourse}"></td>
				<td th:text="${lists.convertComSalesStaff}"></td>
			</tr>
		</table>
	</div>
</div>